<% provide(:title, @collection.title) %>
<div class='container'>
  <div class="bread">
    <span class='bread_first'>COLLECTION: </span><span class='bread_second'> <%= @collection.title.upcase %></span>
  </div>
  <div class='page_intro'>
    <%= @collection.description.html_safe %> 
  </div>
</div>

<div class='container'>
    <div class='film_grid'>
      <%= render @videos %>
  </div>
</div>


