<% provide(:title, "Estela Bravo") %>
<div class='jumbotron'>
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "eb_header.jpg" =%>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod pulvinar leo, et mattis dolor lobortis a. Nullam a vehicula ante. Sed ornare felis pretium felis aliquet, vitae vulputate ex faucibus. Morbi ac tellus ornare, interdum orci a, consectetur mauris. Sed vitae mi vitae est vestibulum cursus. Donec non elementum metus. Nulla aliquet dolor ut tellus tempus iaculis. Fusce euismod blandit ex non dignissim. Nulla sit amet magna eu massa convallis euismod. Maecenas odio augue, finibus sit amet ligula id, gravida mattis tortor. Suspendisse pretium justo velit. Nulla faucibus consectetur mauris, vitae posuere lectus ornare ac. Nunc quis justo sodales, ornare lectus vitae, iaculis arcu.</p>

     <div class='sidebar_embed'>
       <%= image_tag "eb_mandela.jpg" =%>
       <p>Nunc quis justo sodales, ornare lectus vitae, iaculis arcu.</p>
     </div>

  <p>Aliquam vel faucibus quam, a ullamcorper dolor. Vestibulum scelerisque, sem vitae rhoncus commodo, velit odio ultricies nisi, eget consequat neque urna ac sem. Proin feugiat diam mi, vel consequat massa bibendum a. Etiam id massa sit amet ipsum tincidunt vulputate. Curabitur ac sodales metus, vitae dignissim erat. Curabitur tempor in turpis eget venenatis. Etiam mollis sed elit eget tempor. Ut mollis vestibulum enim in convallis. Maecenas varius dolor lectus, quis venenatis justo gravida et. Aenean rhoncus vestibulum diam. Nullam vitae nisl velit. Nulla facilisi. Aenean faucibus ultricies ipsum id convallis. Morbi ut ligula vitae ex egestas tempor eget nec lectus. Sed ac euismod quam, eget semper purus. Pellentesque commodo lorem a odio porttitor ullamcorper.</p>

  <p>Cras mauris sapien, aliquam quis leo vitae, tempus rutrum neque. Nunc sed purus blandit, feugiat tortor et, posuere lorem. Sed justo ipsum, commodo ut leo nec, malesuada hendrerit diam. Ut elementum libero eget fermentum posuere. Nulla tempus faucibus nibh a maximus. Fusce accumsan dolor urna, eu pellentesque diam vestibulum id. Cras vulputate euismod lectus, ut tristique odio hendrerit sed. Nam nisl quam, luctus in vulputate placerat, pretium a diam. Pellentesque lobortis tellus mollis feugiat hendrerit. Curabitur pulvinar mi purus, vitae lacinia nunc placerat et.</p>
    </div>
  </div>
</div>

