<div class='jumbotron'>
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "home_header.jpg" =%>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class="pullquote">
    <h3>THE ESTELA AND ERNESTO BRAVO FILM AND VIDEO COLLECTION</h3>
  </div>
</div>
