<div class='jumbotron'>
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "home_header.jpg" =%>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class="pullquote">
    <h3>"QUOTE BY OR ABOUT ESTELA BRAVO"</h3>
    <p>Brief description of Estela Bravo's career, the collection, her connection with NYU, etc.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie mi id velit euismod, in hendrerit mi porttitor.</p> 
  </div>
</div>

  <div class='container'>
      <%= render @video_grid  %>
  </div>

<div class='container'>
  <div class='row'>

    <div class='col-sm-6'>
    </div>
    <div class='col-sm-6'>
    </div>

  </div>
</div>
