.jumbotron
  #myCarousel.carousel.slide
    .carousel-inner
      .item.active
        = image_tag "home_header.jpg"
.container
  .pullquote
    %h3 THE ESTELA AND ERNESTO BRAVO FILM AND VIDEO COLLECTION
