<% provide(:title, "Estela Bravo's Films") %>
<div class='container'>
  <div class="bread">
    <span class='bread_first'>ESTELA BRAVO'S</span><span class='bread_second'> FILMS</span>
  </div>
</div>

<div class='container'>
    <div class='film_grid'>
      <%= render @film_grid  %>
  </div>
</div>


