// Bootstrap overrides
$grid-float-breakpoint: 1060px; //Bootstrap navbar collapse
$jumbotron-bg: $white;
$navbar-default-bg: $white;
$navbar-default-border: none;
$navbar-default-link-active-color: $red;
$navbar-default-link-hover-color: $red;
$navbar-default-link-active-bg: $white;
$navbar-height: 35px;

// Responsive
$desktop: 1200px;
$laptop: 950px;
$tablet: 768px;
$phone: 767px;



