body {
  background: $light-grey;
}

.page_container {
  font-family: $base-font-family;
  line-height: 1.5em;
  background: $white;
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
  overflow: auto;
  img.description_img {
    float: left;
    width: 30%;
    padding: 15px 5% 2% 0;
    @media(max-width:$phone) {
      width: 80%;
      margin: 0 auto;
      display: block;
      padding: 20px 0;
      float: none;
    }
  } 
}

.jumbotron {
  padding: 0;
}
    
.image_wrapper {
  position: relative;
  img {
    width: 100%;
  }  
}

.sidebar_embed {
  width: 30%;
  float: right;
  margin: 5px 10px;
  text-align:center;
  @media(max-width:$tablet) {
    display: none;
  } 
  img {
    width: 90%;
    padding-bottom: 10px;
    max-width: 350px;
  }
  i {
    color: $red;
    font-size: 10em;
    margin-bottom: 20px;
  }
}
.grey_section {
  background-color: $lightest-grey;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  img {
    padding-bottom:10px;
  }
}

@media (max-width: 680px) { 
   .col-xxs {
     display:block;
     float:none;
     width: 100%;
  }
}

