<!-- START SERIES --> 
<div class='container-fluid grey_section' id="series_<%= series.id %>">
  <h6><%= series.title.upcase %></h6>
  <div class='row'>
    <div class='col-xs-12 finding_aid_table'>
        <%= series.table.html_safe %>
    </div>
  </div>
</div>

