<footer>
      <nav>
        <ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li>© 2015 Tamiment Library</li>
        </ul>
      </nav>
</footer>
